/**
 * sponsor
 */
:root {
    --sponsor-border-radius: 3px;
}

.sponsors {
    display: grid;
    margin-bottom: 2rem;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

@media (min-width: 32em) {
    .sponsors {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 54em) {
    .sponsors {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 42em) {
    .sponsors-bronze {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 54em) {
    .sponsors-bronze {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.sponsors h3 {
    grid-column: 1 / -1;
}

.sponsors_sponsor {
    position: relative;
    display: block;
    background: rgba(255, 255, 255, 0.2);
    border-radius: var(--sponsor-border-radius);
    overflow: hidden;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.4),
                0 2px 2px 0 rgba(0, 0, 0, 0.3),
                0 3px 1px -2px rgba(0, 0, 0, 0.28);
    text-align: left;
    text-decoration: none;
}

.sponsors_sponsor--light {
    background: rgba(255, 255, 255, 0.4);
}

.sponsors_sponsor_header {
    display: flex;
    align-items: center;
    padding: 1rem;
    position: relative;
    background-color: #fff;
    min-height: 15rem;
}

.sponsors_sponsor_image {
    display: block;
    max-width: 100%;
    border-radius: var(--sponsor-border-radius) var(--sponsor-border-radius) 0 0;
    overflow: hidden;
}

.sponsors_content {
    margin: 1rem;
}

.article .sponsors_content p {
    text-decoration: none;
    font-size: 1rem;
    margin: 0;
}

.sponsors_sponsor_footer {
    padding: 0 1rem 1.5rem 1rem;
}

.sponsors_sponsor .button,
.sponsors_sponsor .button:visited {
    color: var(--background-color);
}
