.typo_type-1 {
    font-family: Georgia, serif;
    font-size: 3rem;
}

.typo_type-2 {
    font-size: 1.5rem;
}

.typo_type-3 {
    font-size: 1rem;
    line-height: 1.25;
}

.typo_type-4 {
    font-size: 0.8rem;
}
